<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BookmarkFolderName" value="Corporate bookmarks"/>
    <!--
    <add key="FirefoxVersion" value="esr"/>
    <add key="FirefoxVersion" value="release"/>
    -->
    <add key="FirefoxVersion" value="esr"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;lib\x86;lib\x64" />
    </assemblyBinding>
  </runtime>
</configuration>