<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BookmarkFolderName" value="Corporate bookmarks"/>
    <!--
    <add key="FirefoxVersion" value="esr"/>
    <add key="FirefoxVersion" value="release"/>
    -->
    <add key="FirefoxVersion" value="esr"/>
  </appSettings>
</configuration>